@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*General css*/
body {
    /* background: #F7F8FD; */
  font-family: 'Open Sans', sans-serif;
}
li{
	list-style:none;
}
ul{
	padding:0;
	margin:0;
}
a {

  transition: 0.5s;
}

a:hover, a:active{
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}
.dashboard-body-bg{
	background: #F2F4F7;
	width:100%;
	min-height: 100vh;
	height: 100%;
	padding-bottom: 10px;
	position:relative;
}

/* .row{
	margin:0px;
} */

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.ezl-dashboard-container {
    max-width: 1350px;
	width:100%;
    margin: auto;
    padding: 0px 25px;
}

.custom-header{
	height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  background-color:#fff;
  width:100%;
}

.search-input{
  height: 20px;
  font-size: 13px;
  margin-left: 10px;
  border:none;
  outline: none;
  font-family: SourceSansPro;
  width: 210px;
  background-color: transparent;
  color: white;
}
span.notificaion-spn{
	    position: absolute;
    top: 0px;
    right: -6px;
    font-size: 9px;
    font-weight: 600;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    color: #fff;
    background: #F03B31;
}

.account-d .popupbox{
	padding: 0px;
    top: 51px;
    left: auto;
    right: 0;
	filter: drop-shadow(0px 20px 50px rgba(44, 63, 88, 0.15));
    border: none;
    padding: 24px 32px;
    width: 320px;
}
.account-d{
	display: flex;
    align-items: center;

}
.dropdown-buttn {
    width: 56px;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    background: url(../images/dropdown.png) no-repeat;
    background-position: center right;
	cursor:pointer;
}
.dropdown-buttn:hover,.dropdown-buttn:focus{
	background-color:transparent;	
	color: #738C9D;
	border:none;
	outline:none;
	box-shadow:none;
}
/* .dropdown-buttn span {
    font-size: 10px;
    font-weight: 700;
    line-height: 170.23%;
    text-transform: uppercase;
    color: #52616B;
} */
.dropdown.open .dropdown-menu{
	display:block;
}
.user-img img{
	position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}
.active-dot {
    height: 9px;
    width: 9px;
    background: #00D67C;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0px;

}


.menu-wrap {
    margin-right: 32px;
}
.menu-wrap a{
	color:#646464;
	border-radius: 2px;
	font-size:24px;
	font-weight:bold;
}


.menuright-side{
    display: flex;
    height: 100%;
    align-items: center;
}
.menu-mid-sect{
	    display: flex;
    align-items: center;
       margin-right: 6px;
    height: 100%;

}

.ezl-notificaion-marg{
	margin-right:13px;
}
.menu-right-sect ul {
    display: flex;
}
.menu-mid-sect ul{
	display:flex;
}
.menu-mid-sect ul li{
display: flex;
    align-items: center;
    padding-left: 32px;
}

.menu-mid-sect ul li a{
	font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170.23%;
    text-transform: none;
    color: #1E1F2D;

}
.menu-times-notifi{
    display: flex;
    align-items: center;
    position: relative;
	margin-right: 14px;
}
.menu-times-notifi span {
    position: absolute;
    top: -7px;
    right: -7px;
    background: #F03B31;
    border: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 170.23%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    height: 14px;
    width: 14px;
    justify-content: center;
    border-radius: 50%;
}

/* .menu-mid-sect ul li span{
	margin-right:10px;
	    display: flex;
    align-items: center;
} */
.right-search{
	    display: flex;
    align-items: center;
       padding-right: 26px;
    height: 100%;
   /*  border-right: 1px solid #F0F5F9; */
}
.search-form .form-group {
    position: relative;
	margin-bottom: 0;
	border-bottom: 1px solid #CACFD9;
}
.search-form input {
	height: 30px;
    width: 140px;
    background: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    color: #91A1BB;
    padding: 0;
	outline:none;
	box-shadow:none;
}
.search-form input:focus{
	outline:none;
	box-shadow:none;
}
.search-form ::placeholder{
	color: #879FAF;
}
.search-form :-ms-input-placeholder{
	color: #879FAF;
}
.search-form ::-ms-input-placeholder{
	color: #879FAF;
}
.search-form-btn {
    height: 100%;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
	padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ezl-notificaion {
    display: flex;
    padding: 0px 15px;
    /* height: 100%; */
    align-items: center;
    border-right: 1px solid #E8E9EB;
	    margin-right: 12px;
}
/* .notificaion-dropdown {
    padding: 0px 20px;
} */
.notificaion-dropdown ul{
	margin-bottom:0px;
}
.notificaion-dropdown .dropdown-menu {
    background: #087BE0;
    padding: 8px;
	width: 216px;
	top: 56px;
    left: -180px;
}
.notificaion-dropdown .dropdown-menu li{
	font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #52616B;
	background:#fff;
	margin-bottom:8px;
	padding: 8px;
}
.notificaion-dropdown .dropdown-menu li:last-child{
	margin-bottom:0px;
	color:#0084F8;
}

.left-content h4 a{
    color: #34495E;
    font-size: 14px;
    font-weight: 400;
	letter-spacing: 0.408333px;
	line-height: 16px;
}
.left-content h4 span{
	font-size: 14px;
	line-height: 16px;
	color: #FF881E;
	letter-spacing: 0.408333px;
}
.menu-left {
    display: flex;
	    height: 100%;
    align-items: center;
}
.ezl-dashboard-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
	height:100%;
    align-items: center;
	padding: 0px 25px;
	max-width: 1350px;
    margin: auto;

}
.ezl-user-ac {
    display: flex;
    align-items: center;
}

.dashboard-header-bredcrumb ul li {
    text-transform: lowercase;
    color: #828282;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.toggle-menu {
    display: none;
}
.dashboard-header-bredcrumb {
    z-index: 1;
}
.menu-mid-sect .ether-block{
	background: rgba(117, 33, 226, .04);
	border-radius: 8px;
	padding:3px 10px;
	padding-left:12px;
	    margin-left: 24px;
}
.menu-mid-sect .ether-block a{
	font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 170.23%;
    color: #7521E2;

}
.menu-mid-sect .ether-block .fa{
    margin-left: 10px;
    font-size: 14px;
}
.menu-mid-sect .connect-wallet-block {
    padding: 3px 15px;
    background: rgba(71, 76, 212, .04);
    border-radius: 8px;
    margin-left: 12px;
    
}
.menu-mid-sect .connect-wallet-block a{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 170.23%;
	color: #474CD5;
}
.free-account-d .dropdown.open .dropdown-menu{
	display:block;
}
.free-account-d .dropdown .btn{
	background: #2BBD54;
    border-radius: 4px;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 170.23%;
    color: #FFFFFF;
    position: relative;
    margin-right: 6px;
	width:92px;
}
.free-account-d .dropdown-toggle::after{
	    content: "\f0d7";
    font-family: Fontawesome;
    border-right: 0;
    border-bottom: 0;
    transform: rotate( 
0deg
 );
    transform-origin: center;
    width: 0;
    height: 0;
    border-left: 0;
    border-top: 0;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.free-account-d {
    margin-left: 12px;
}
.cust-marg-12{
	margin-left:12px;
}
/*user dropdown*/
.account-d .popupbox ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 24px;
    border-bottom: 1px solid #C6C9CC;
    margin-bottom: 16px;
}
.enoch-usr-prof {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.account-d .popupbox ul li span a{
    color: #7521E2;
    text-decoration: underline;
}
.postswitch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 16px;
	margin-left: 26px;
	margin-bottom:0px;
	margin-top: 8px;
}

.postswitch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.post-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D8D8D8;
  -webkit-transition: .4s;
  transition: .4s;
}

.post-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -14px;
    bottom: -3px;
    background-color: #959595;
    -webkit-transition: .4s;
    transition: .4s;
}

.post-switch input:checked + .post-slider {
  background: #E4CFFF;
}



.post-switch input:checked + .post-slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
  background: #8743DF;
}

/* Rounded autoplay-sliders */
.post-slider.round {
  border-radius: 23px;
}

.post-slider.round:before {
  border-radius: 50%;
}
.enoch-usr-status-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
	    margin-bottom: 24px;
}
.enoch-usr-status-block a,.enoch-usr-status-block a:hover{
	    color: #000000;
}

.orange-clr{
    color: #FF8A00!important;
}
.freebonus-btn {
    border: 1px solid #474CD5;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7521E2;
    text-align: center;
    text-decoration: none!important;
    padding: 5px 14px;
}
.post-red-clr{
	color: #F03B31!important;
}
.account-d .popupbox ul li:last-child{
	border:none;
}

/*popup*/
.switch-user-modal-block .modal {
    display: none;
    position: fixed;
    z-index: 9;
    padding-top: 0px;
    left: auto;
	right:5%;
    top: 20%;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 1;
	    justify-content: flex-end;
    z-index: 9999;
}
.switch-user-modal-block .modal.open {
    display: flex;
}
.switch-user-modal-block .modal-content {
    padding: 20px;
    border: none;
    width: 100%;
    align-items: flex-start;
    width: 680px;
    background: #FAFAFA;
    padding: 13px 24px 0px;
    filter: drop-shadow(0px 20px 50px rgba(44, 63, 88, 0.15));
    border-radius: 14px;
	    height: fit-content;
}
.switch-user-modal-content .close {
    position: absolute;
    top: 14px;
    right: 24px;
    opacity: 1;
	cursor:pointer;
}
.switch-user-modal-list ul{
	width:100%;
}
.switch-user-modal-list ul li{
    border-bottom: 1px solid #D4D8DD;
    padding: 20px 0px;
    width: 100%;
	    font-family: Poppins;
    font-style: normal;
        font-weight: 500;
    font-size: 22px;
    line-height: 170.23%;
    color: #3F434A;
	cursor:pointer;
	position:relative;
}
.switch-user-modal-list ul li img{
	margin-right:13px;
}
.switch-user-modal-list ul li:last-child{
	border-bottom:0px;
}
.switch-user-modal-list {
    width: 100%;
}
.switch-user-modal-list ul li:after {
        content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000;
    display: flex;
    align-items: center;
    height: 100%;
    transform: rotate(
270deg
);
}

.switch-user-modal-block .modal-content h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 170.23%;
    color: #1E1F2D;
    /* margin-bottom: 24px; */
    margin-top: 32px;
}
/*right top popup*/

/*popup*/
.right-top-modal-block .modal {
    display: none;
    position: fixed;
    z-index: 9;
    padding-top: 0px;
    left: auto;
	right:0;
    top: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 1;
	    justify-content: flex-end;
    z-index: 9999;
}
.right-top-modal-block .modal.open {
    display: flex;
}
.right-top-modal-block .modal-content {
    padding: 20px;
    border: none;
    width: 100%;
    align-items: flex-start;
    width: 640px;
    background: #FAFAFA;
    padding: 48px 24px;
    filter: drop-shadow(0px 20px 50px rgba(44, 63, 88, 0.15));
    border-radius: 14px;
	    height: fit-content;
}
.right-top-modal-content .close {
    position: absolute;
    top: 14px;
    right: 24px;
    opacity: 1;
	cursor:pointer;
}
.right-form-group {
    display: flex;
    align-items: center;
}

.right-form-group input{
    border: none;
    outline: none;
    box-shadow: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #8A9099;
	background:transparent;
}
.right-form-group input:focus{
	 border: none;
	 outline: none;
    box-shadow: none;
	background:transparent;
}
.right-form-group {
    display: flex;
    align-items: center;
    background: #F8F8F8;
    border-radius: 54px;
	max-width:330px;
	height:40px;
	margin-bottom:20px;
}
.right-top-body-block ul {
    max-width: 348px;
	padding-bottom:25px;
	border-bottom: 1px solid #C6C9CC;

}
.right-top-body-block ul li{
    display: flex;
    justify-content: flex-start;
	margin-bottom:32px;
	max-width:330px;
}
.right-top-body-block ul li:last-child{
	margin-bottom:0px;
}
.right-modal-right{
	margin-left:16px;
}
.right-modal-right h3{
	font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
	margin-bottom:2px;
}
.right-modal-right p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8A9099;
}
/*responsive*/
@media(max-width:1280px){
	.right-search{
		padding-right:5px;
	}
	.menu-mid-sect ul li a{
		font-size:11px;
	}
	.menu-mid-sect ul li{
		padding-left:16px;
	}
}

@media(max-width:1024px){
	.search-form input {
    height: 30px;

}
.search-form .form-group button img{
		top: 12px;
	}
	.menu-wrap {
    margin-right: 30px;
}
.menu-mid-sect ul li {
    padding-right: 8px;
    padding-left: 5px;
}
.notificaion-dropdown {
    padding: 0px 5px;
}
/* span.inbox-spn, span.notificaion-spn {
    top: 8px;
    left: 25px;
}
span.notificaion-spn {
    left: 21px;
} */
.ezl-dashboard-header{
	flex-wrap:wrap;
}
.menu-mid-sect{
	margin-right:0px;
}
.menuright-side{
	    width: 100%;
    justify-content: space-between;
}
.menu-mid-sect .ether-block{
	    padding-left: 10px;
    margin-left: 10px;
}
.menu-mid-sect .connect-wallet-block{
	margin-left: 10px;
	    padding: 3px 10px;
}
.ezl-notificaion{
	margin-right:0px;
}
.menu-mid-sect .ether-block a,.menu-mid-sect .connect-wallet-block a{
	font-size:10px;
}
.right-top-modal-block .modal{
	top:14%;
}
}
@media(max-width:991px){
	.menu-mid-sect{
		justify-content: space-around;
	}
	.right-search{
		padding-right:20px;
	}
	.ezl-notificaion {
    padding: 0 5px;
}
.menu-wrap {
    margin-right: 22px;
}
.header-logo{
	width:60%;
}
.ezl-dashboard-header {
    position: relative;
}
.right-search{
	margin-top:0px;
	    position: absolute;
    top: 0;
    left: 26%;
	height: auto;
}
.ezl-notificaion-marg{
	margin-right:0px;
}
.free-account-d .dropdown .btn{
	margin-right:0px;
}
.free-account-d {
    margin-left: 10px;
}
.free-account-d .dropdown .btn{
	width: 73px;
	padding: 3px 8px;
	font-size:10px;
}
.free-account-d .dropdown-toggle::after{
	right:14px;
}
.menu-times-notifi{
	margin-right:10px;
}
.menu-mid-sect ul li a {
    font-size: 10px;
}
span.notificaion-spn {
	right:-1px;
}
}
@media(max-width:768px){

	.search-form .form-group button img{
		position: absolute;
		display: block;
	}
	/* .right-search,.search-form{
		display: block;
		margin-top:10px;
	} */
	header {
    height: auto;
	position:relative !important;
	    width: 100%;
	}
	.dashboard-content{
		padding-top:0px;
	}
}
@media(max-width:767px){
	.header-logo {
    width: 100%;
}
	.custom-header {
    padding: 30px 0px 20px;
	min-height: 100%;
    height: 100%;
	}
	
	.ezl-dashboard-header{
		    flex-direction: column;
    align-items: baseline;
	}
	.right-search {
    display: flex;
    margin-top: 0px;
	position: relative;
    top: 0;
    left: 0;
    height: auto;
}
	.menu-wrap{
	display: block;
    position: absolute;
    left: auto;
    top: -15px;
    right: 0;

}
.menuright-side{
	flex-wrap: wrap;
        justify-content: flex-start;
	width:100%;
}
.right-search{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
	    padding-right: 0;
}
.search-form {
    width: 100%;
}
.search-form-btn{
	    top: -3px;
    right: 12px;
}
.menu-mid-sect ul{
	position: absolute;
    left: 0;
    flex-direction: column;
    right: 0;
    width: 100%;
    background: #fff;
    top: 40px;
    z-index: 9999;
    padding: 24px;
    display: none;
}
.menu-mid-sect .submenu-active{
	display:block;
}

.menu-mid-sect ul li {
    width: 50%;
	padding-left:0px;
	margin-bottom:15px;
}
.menu-mid-sect {
    margin-right: 0;
	position: relative;
    width: 100%;
}
.toggle-menu {
    display: block;
   position: absolute;
    right: 0;
    top: 5px;
}
.ezl-notificaion-marg{
	padding-left:0px;
}
.ezl-notificaion {
    padding: 0px 15px;
	padding-left:0px;
}
span.notificaion-spn{
	right:-2px;
}
.ezl-notificaion {
    margin-right: 12px;
}
.menu-mid-sect .ether-block,.menu-mid-sect .connect-wallet-block {
    padding-left: 10px;
    margin-left: 0;
    max-width: 124px;
    width: 100%;
	justify-content:center;
}
.switch-user-modal-block .modal-content{
	    width: 420px;
}
.switch-user-modal-block .modal{
	    justify-content: center;
		top:31%;
		right:0;
		left:0;
}
.account-d .popupbox{
	left:0;
}
.switch-user-modal-block .modal-content h2{
	    font-size: 20px;
    line-height: 136.23%;
}
.switch-user-modal-list ul li{
	font-size:16px;
}
.account-d .popupbox {
    left: -80px;
    width: 286px;
}
.enoch-usr-status-block {
        flex-wrap: wrap;
    align-items: flex-start;
}
.right-top-modal-block .modal {
    top: 192px;
}
}
@media(max-width:480px){
.switch-user-modal-block .modal-content {
    width: 300px;
}
}