.mrgacc-bttn {
  width: 88px;
  height: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
}
.color-blue {
  text-decoration: none !important;
  color: #8d35fd !important;
}

.color-white {
  text-decoration: none !important;
  color: #fff !important;
}
